<div id="errorBar"></div>
<div id="navigatinoBar">+City <a id="navigationSearch">Search</a> | <a id="navigationMap">Map</a></div>
<div id="mapWrapper">
   <div id="mapBar"></div>
</div>
<div id="searchWrapper">
    <div id="searchBar">
        <div>Add city</div>
        <input id="searchCity" placeholder="City name"/>
    </div>
</div>
<div id="content">
    <div id="initialInfo">
	    This application displays <em>weather conditions</em> for multiple locations.<br />
	    Start by adding a City with the top menu!<br />
	    You can add a city either by <i>searching its name</i> or by <i>pointing it on the map</i>.<br /><br />
	    Copyright <em>Tomasz Rogucki</em> <i>&copy; 2014</i>
    </div>
</div>
